@font-face {
  font-family: 'Druk Text Heavy';
  src: 
  url('../fonts/druk-text-heavy.woff2') format('woff2'), 
  url('../fonts/druk-text-heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Lacrima';
  src: 
  url('../fonts/lacrima-mg-serif-regular.woff2') format('woff2'), 
  url('../fonts/lacrima-mg-serif-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}